@charset "UTF-8";

#addressSection {
	clear:both;
	width: 75%;	
	height: 100%;
	text-align: center;	
	padding: 10px;
	border-left: 1px solid darkgray;
	
}

/* 맨 밑에 있는 버튼들 위치  */
#buttonsDiv {
	text-align:left;
}

#buttonsDiv > * {
	font-size: 0.9em;
	margin: 10px 5px 10px 5px;
    border: 1px solid lightgray;
    text-decoration: none;
}


#addressTable{
	background-color: white;	
}

#addressTable th {
	border-bottom: 2px solid #f8f9fc;
}

#addressTable td {
	border-bottom: 2px solid #f8f9fc;
}

.tableHighlight { 
	background-color: red; 
}