@charset "UTF-8";

/* addressMain.jsp */
/* 전체 */
#addressMain_section {
	margin-left: 20px;
	float: left;
	width: 70%;
}

/* 주소 테이블  */
#addressTableDiv {
	border-radius: 4px 4px 4px 4px;
	clear: both;
	width: 95%;
	height: 100%;
	margin: 0 auto;
	border: 1px solid lightgray;
	padding: 5px;
	background-color: white;
}

#addressTable {
	background-color: white;
	text-align: center;
}

.addressCB {
	margin-top: 5px;
}

#addressTable th, td {
	border-bottom: 2px solid #f8f9fc;
}

#addressTable tr:last-child { 
	border-bottom:3px solid white;
}

#addressTable {
	width: 100%;
	font-size: 0.9em;
}

/* 맨 밑에 있는 버튼들 위치  */
#buttonsDiv {
	text-align: left;
	padding-top: 10px;
	padding-left: 30px;
}

#buttonsDiv>* {
	font-size: 0.9em;
	margin-right: 5px;
	border: 1px solid lightgray;
	text-decoration: none;
}

/* 테이블에 마우스 올리면 효과 */
.highlight {
	background-color: #a6bcfd;
}

/* bottom 하단 고정, border 설정  */
#bottomAddress_div {
	clear: both;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	position:absolute;
    bottom:0;
    width: 83.5%;
    margin:0;
}



/* addressNav.jsp */
/*  */
#addressNavAll {
	margin: 10px;
	margin-bottom: 30px;
	float: left;
	line-height: 25px;
	padding-bottom: 10px;
	padding-top: 5px;
	border: 1px solid lightgray;
	font-size: 0.8em;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
}

#menu_address{
	border-radius: 3px 3px 3px 3px;
	background-color: #4e73df;
	color: white;
	text-align: center;
}

#addressNav2_title{
	font-weight: bold;
}

#addressNavAll a {
	text-decoration: none;
	color: #000000;
}

#addressNav1, #addressNav2 {
	border-bottom: 1px solid lightgray;
}

#addressNav1, #addressNav2, #addressNav3 {
	padding: 3px 10px 3px 10px;
	margin: 0px;
}

#address_option {
	float: right;
}
